/**
 * Comments in CSS
 *
 * Multiline comments should start with /**
 * and end with...
 */

/* Single comments */
/* Defines slider element with an ID of `slider` */
#slider {
    display: block;
    width: 100%;
    height: 20px;
    border: 1px solid #3b3c3d;
    margin: 1rem 0;
}

/* Defines interior element with an ID of `interior` */
#interior {
    display: block;
    background-color: red;
    height: 20px;
    width: 0;
    transition: width 2s;
}
